* {
    text-align:center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  

  }
  
  button{
    background-color: rgba(250, 190, 88, 1);
    width: 100px;
    height: 50px;
    
  }
  
  span{
    font-size: 30px;
    text-align:center;
  }